@import "./fonts.css";
@import "./selection.css";
@import "./navbar.css";
@import "./footer.css";
@import "./doc.css";
@import "./ft.css";

:root {
  --tf-red: #ff1e30;

  --ifm-color-primary: #ff1e30;
  --ifm-color-primary-dark: #ff0116;
  --ifm-color-primary-darker: #f20013;
  --ifm-color-primary-darkest: #c80010;
  --ifm-color-primary-light: #ff3b4a;
  --ifm-color-primary-lighter: #ff4957;
  --ifm-color-primary-lightest: #ff747f;
  --ifm-background-color: #f8f8f9;
}
