.breadcrumbs__item::after {
  margin: 0 4px !important;
}

.breadcrumbs__item a.breadcrumbs__link {
  padding-left: 8px;
  padding-right: 8px;
  &:hover {
    background: none;
  }
}

.breadcrumbs__item.breadcrumbs__item--active span.breadcrumbs__link {
  background: none;
  padding-left: 8px;
  padding-right: 8px;
}

/* Footer */

footer.theme-doc-footer {
  margin-top: 32px;
}

/* Pagination */

nav.pagination-nav {
  margin-top: 22px;
  gap: 12px;
}

a.pagination-nav__link {
  border-width: 2px;
  border-radius: 12px;
  padding: 12px 14px;
}

/* Admonition */

.theme-admonition {
  border-radius: 12px !important;
}

/* Version */

.theme-doc-version-badge {
  background-color: var(--ft-red);
  color: var(--ft-white);
  border: none;
}