.navbar,
.navbar-sidebar__brand {
  background-color: var(--ft-red);
}

.navbar button {
  color: white;
  &:hover {
    color: red;
    background: white;
  }
}

.navbar__title {
  color: white;
  font-weight: 700;
  &:hover {
    color: white;
  }
}

.navbar__link {
  color: white;
  border-radius: 12px;
  &:hover {
    color: white;
  }
}

.navbar__link > svg {
  display: none;
}

.navbar__link--active {
  background-color: var(--ft-white);
  color: var(--ft-red);
  &:hover {
    color: var(--ft-red);
  }
}

.navbar__toggle,
.navbar-sidebar__close {
  color: white !important;
  &:hover {
    background-color: transparent !important;
  }
}

.navbar-sidebar__back {
  color: var(--ifm-menu-color) !important;
  background: none;
  &:hover {
    color: var(--ft-red) !important;
    background: none !important;
  }
}
